<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href={{ url_for('static', filename='style.css') }}>
<script src="{{url_for('static',filename='modal.js')}}"></script>
<script src="https://cdn.logwork.com/widget/countdown.js"></script>
{% block personal %}
{% endblock personal %}

    <meta charset="utf-8">
    <title>Professor</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="{{url_for('core.index')}}"margin>PAATHSHAALA</a>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" href="{{url_for('core.index')}}">Home</a>
              </li>
              {% if current_user.is_authenticated %}
            
                <li class="nav-item active">
                    <a class="nav-link" href="{{url_for('professors.account')}}">Account</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{url_for('professors.logout')}}">Log Out</a>
                </li>
              {% else %}

                <li class="nav-item active">
                    <a class="nav-link" href="{{url_for('professors.login')}}">Log In</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{url_for('professors.register')}}">Register</a>
                </li>
              {% endif %}
              <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
                <div style="position: absolute; right: 2%"class="navbar-text ml-auto">
                    Professor Portal
                </div>
              </ul>
            </ul>


          </div>
        </div>
      </nav>
    <div class="container">
        {% block content %}

        {% endblock %}
    </div>


</body>

</html>