{% extends 'base.html'%}
    {% macro form_field(field) %}
<dt>{{ field.label }}
<dd>{{ field(**kwargs)|safe }}
  {% if field.errors %}
  <ul class=errors>
    {% for error in field.errors %}
    <li>{{ error }}</li>
    {% endfor %}
  </ul>
  {% endif %}
</dd>
{% endmacro %}
{% block content %}
<!-- <h1 id="discussionHeading">{{forum.course.name}}</h1> -->
    <div class="container-fluid">

                <div class="msg-group center"  style="margin-bottom: 3%;">
                	{% for post in  forum.posts %}
                        <div class="card">
                            <div class="card-body">
                                <h6 class="card-subtitle mb-2 text-muted text-left">{{ Names[post.user_id] }} </h6>
                                <h6 class="card-subtitle mb-2 text-muted text-right"><em>{{ post.timeofpost.strftime('%B %d, %Y %H:%M') }}</em></h6>
                                <div class="card-text float-left postContent">{{ post.details }} &nbsp;</div>
                                {% for attachment in post.attachments %}
                                    <a href="{{attachment.link}}" class="card-link">{{attachment.name}}</a>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                   
                </div>

                <div  style="margin-top: 1% ;margin-bottom: 2%;">
                  <form action={{ url_for('course.discussion_forum', course_id=course_id) }} method="post">
                      <div class="input-group center">
                          <textarea id="input-box" name="content" class="form-control" rows="1" placeholder="Say something..."></textarea>
                          <span class="input-group-btn">
                              <button class="btn btn-secondary" type="submit">Post</button>
                              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addAttachment">+</button>
                          </span>
                      </div>
                  </form>    
                  
                </div>
                

    <div class="modal fade" id="addAttachment" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Add Attachments</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form enctype="multipart/form-data" method="POST">
                    {{addAttachmentForm.hidden_tag()}}

                    <div class="form-group">
                      {{addAttachmentForm.details.label(class='form-group')}}
                      {{addAttachmentForm.details(class='form-control')}}
                    </div>
                    <div class="form-group">
                      {{form_field(addAttachmentForm.attachments)}}
                    </div>      
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    {{addAttachmentForm.submit(class='btn btn-primary')}}
                    </div>
                </form>
                    
            </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}