{% extends "base.html" %}
{% macro form_field(field) %}
<dt>{{ field.label }}
<dd>{{ field(**kwargs)|safe }}
    {% if field.errors %}
    <ul class=errors>
        {% for error in field.errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</dd>
{% endmacro %}
{% block content %}
<div style="margin-top: 2%;" class="jumbotron"><h1>
    {% if current_user.is_authenticated %}
            Welcome {{current_user.name}}</h1>
        {%else%}
        <h1 class="display-4">Paathshaala</h1>
        <hr class="my-4">
        <h4 class="lead">This is the CS258 project created by Dipin Garg, Arastu, Abhishek Bansal, Prasheel Kumar Tiwari, Harsh Kushwaha and Jainil Shah.</h4>
        <h4 class="lead">With this project we hope to ease up this difficult process of online classes for both professors and students.</h4>

    {% endif %}

    
</div>
<div class="container">
    {% for error in form.name.errors %}
    <div class="alert alert-danger" role="alert">
        {{error}}
    </div>
    {% endfor %}
    {% for error in form.course_code.errors %}
    <div class="alert alert-danger" role="alert">
        {{error}}
    </div>
    {% endfor %}
    {% for error in form.details.errors %}
    <div class="alert alert-danger" role="alert">
        {{error}}
    </div>
    {% endfor %}
    {% if current_user.is_authenticated %}
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Code</th>
                    <th>For Branches</th>
                </tr>
            </thead>
            <tbody>
                {% if courses %}
                {% for course in courses %}
                        <tr>
                            <td scope="row">{{loop.index}}</td>
                            <td><a href={{url_for('course.view_course',course_id=course.id)}} class="btn btn-link courseLinks">{{course.name}}</a>

                            </td>
                            <td>{{course.course_code}}</td>
                            <td>{{ course.branches|join(', ') }}
                            </td>
                        </tr>
                {% endfor %}
                
                {% endif %}
                
            </tbody>
        </table>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                Add a course
            </button>
            
            <!-- Modal -->
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Course details</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            
                            <form method="POST">
                                {{form.hidden_tag()}}
                                <div class="form-group">
                                    <label for="course-name" class="col-form-label">{{form.name.label}}</label>
                                    {{form.name(class="form-control",id="course-name")}}
                                </div>
                                <div class="form-group">
                                    <label for="course-code" class="col-form-label">{{form.course_code.label}}</label>
                                    {{form.course_code(class="form-control",id="course-code")}}
                                </div>
                                {{form_field(form.available_for)}}
                                <div class="form-group">
                                    <label for="details" class="col-form-label">{{form.details.label}}</label>
                                    {{form.details(class="form-control",id="details")}}
                                </div>
                            
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            {{form.submit(class="btn btn-primary")}}</form>
                        </div>
                    </div>
                </div>
            </div>
    {% endif %}

</div>
{% endblock %}