{% extends 'base.html' %}

{% block content %}
{% if requests %}

<h2>Requests for enrollment in {{requests[0].course.name}}</h2>
<table class="table">
    <thead>
        <tr>
            <th>Index</th>
            <th>Name of Student</th>
            <th>Branch</th>
            <th>View Request</th>
            <th>Enroll</th>
        </tr>
    </thead>
    <tbody>
        {% for request in requests %}
        <tr>
            <td scope="row">{{loop.index}}</td>
            <td>{{request.user.name}}</td>
            <td>{{request.user.branch.name}}</td>
            <td><!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#{{'request'~request.id}}">
              View
            </button>
            
            <!-- Modal -->
            <div class="modal fade" id="{{'request'~request.id}}" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">{{request.user.name}}'s request</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                        </div>
                        <div class="modal-body">
                            <h6>Title</h6>
                            <p>{{request.title}}</p>
                            <h6>Details</h6>
                            <p>{{request.details}}</p>
                            {% if request.attachments %}
                            <h6>Attachments</h6>
                            {% for attachment in request.attachments %}
                            <a href="{{attachment.link}}" class="card-link">{{attachment.name}}</a>
                            {% endfor %}
                            
                            {% endif %}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div></td>
            <td>
                {% if request.status==0 %}
                        <a href="{{url_for('course.request_accept',request_id=request.id)}}">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus-circle" fill="currentColor"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                <path fill-rule="evenodd"
                                    d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                            </svg>
                        
                        </a>
                        <a href="{{url_for('course.request_decline',request_id=request.id)}}">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x-circle-fill" fill="currentColor"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z" />
                            </svg>
                        
                        </a>

                {% else %}
                        {% if request.status==2 %}
                                <p class="text-danger">Declined.</p>
                        {% else %}
                                <p class="text-success">Enrolled.</p>
                        {% endif %}
                        
                {% endif %}
                
            </td>
        </tr>
        {% endfor %}

    </tbody>
</table>

{% else %}
<div class="alert alert-secondary" role="alert">
    No courses available to request and enroll
</div>
{% endif %}

{% endblock %}
