{% extends "base.html" %}
{% macro form_field(field) %}
<dt>{{ field.label }}
<dd>{{ field(**kwargs)|safe }}
  {% if field.errors %}
  <ul class=errors>
    {% for error in field.errors %}
    <li>{{ error }}</li>
    {% endfor %}
  </ul>
  {% endif %}
</dd>
{% endmacro %}
{% block content %}
<div class="jumbotron">
    <h1 class="display-3">{{course.name}}</h1>
    <p class="lead">{{course.details}}</p>
    <hr class="my-2">
    <p>Professor: {{course.professor.name}}<br> Branch: {{course.branches|join(', ')}}</p>
    
    {% if current_user==course.professor %}
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addCourseNote">Add Course
      Material</button>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addAssignment">Add Assignment</button>
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#confirmDrop">Remove Course</button>
    {% endif %}
    
</div>


  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true"
          aria-controls="collapseOne">
          Assignments
        </button>
      </h5>
    </div>

    <div id="collapseThree" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        {% if course.assignments %}
        {% for assignment in course.assignments %}
        <div class="card" style="width: 100%;">
          <div class="card-body">
            <h5 class="card-title">{{assignment.title}} <small class="text-muted"> Deadline : <u>{{assignment.deadline.strftime('%I:%M %p, %d %b %Y')}}</u></small>
{% if course.professor.id==current_user.id %}
              <a href="{{url_for('course.remove_assignment',assignment_id=assignment.id)}}"><i
                  class="fa fa-times"></i></a>


              {% endif %}
            </h5>

            <p class="card-text" style="white-space: pre-wrap;">{{assignment.details}}</p>
            {% if assignment.attachments %}
            <h6>Attachments:</h6>
            {% for attachment in assignment.attachments %}
            <a href="{{attachment.link}}" class="card-link">{{attachment.name}}</a>
            {% endfor %}

            {% endif %}


          </div>
          <div class="card-footer">{{assignment.time.strftime('%I:%M %p, %d %b %Y' )}}</div>

        </div>
        {% endfor %}
        {% else %}
        Professor has provided no assignments :)
        {% endif %}

      </div>
    </div>
  </div>
 


<div id="accordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Course Material
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        {% if course.courseNotes %}
                {% for courseNote in course.courseNotes %}
                <div class="card" style="width: 100%;">
                  <div class="card-body">
                    <h5 class="card-title">{{courseNote.title}}{% if course.professor.id==current_user.id %}
                      <a href="{{url_for('course.remove_courseNote',courseNote_id=courseNote.id)}}"><i class="fa fa-times"></i></a>


                    {% endif %}
                    </h5>
                    
                    <p class="card-text" style="white-space: pre-wrap;">{{courseNote.details}}</p>
                    {% if courseNote.attachments %}
                    <h6>Attachments:</h6>
                        {% for attachment in courseNote.attachments %}
                            <a href="{{attachment.link}}" class="card-link">{{attachment.name}}</a>
                        {% endfor %}
                        
                    {% endif %}
                    
                    
                  </div>
                    <div class="card-footer">{{courseNote.time.strftime('%I:%M %p, %d %b %Y' )}}</div>

                </div>
                {% endfor %}
        {% else %}
                Professor has provided no course notes :(
        {% endif %}
        
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Students registered
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
        {% if course.students %}
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Full Name</th>
                            <th scope="col">Branch</th>
                        </tr>
                    </thead>
                    <tbody>
                       {% for student in course.students %}
                                <tr>
                                    <th scope="row">{{loop.index}}</th>
                                    <td>{{student.name}}</td>
                                    <td>{{student.branch.name}}</td>
                                </tr>
                       {% endfor %}
                    </tbody>
                </table>
        {% else %}
                No students registered yet!
        {% endif %}
        
      </div>
    </div>
  </div>
  
</div>









<!-- Modal -->
<div class="modal fade" id="addCourseNote" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add material</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-body">
        <form enctype="multipart/form-data" method="POST">
          {{courseNoteForm.hidden_tag()}}
        
        
          <div class="form-group">
            {{courseNoteForm.title.label(class='form-group')}}
            {{courseNoteForm.title(class='form-control')}}
          </div>
          <div class="form-group">
            {{courseNoteForm.details.label(class='form-group')}}
            {{courseNoteForm.details(class='form-control')}}
          </div>
          <div class="form-group">
          {{form_field(courseNoteForm.attachments)}}
          </div>
        
        
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      {{courseNoteForm.submit1(class='btn btn-primary')}}</form>
      </div>
    </div>
  </div>
</div>



<div class="modal fade" id="addAssignment" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add material</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form enctype="multipart/form-data" method="POST">
          {{addAssignmentForm.hidden_tag()}}


          <div class="form-group">
            {{addAssignmentForm.title.label(class='form-group')}}
            {{addAssignmentForm.title(class='form-control')}}
          </div>
          <div class="form-group">
            {{addAssignmentForm.details.label(class='form-group')}}
            {{addAssignmentForm.details(class='form-control')}}
          </div>
          <div class="form-group">
            {{addAssignmentForm.deadline.label(class='form-group')}}
            {{addAssignmentForm.deadline(class='form-control')}}
          </div>
          <div class="form-group">
            {{form_field(addAssignmentForm.attachments)}}
          </div>



      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        {{addAssignmentForm.submit2(class='btn btn-primary')}}</form>
      </div>
    </div>
  </div>
</div>











<!-- Modal -->

<div class="modal fade" id="confirmDrop" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Please confirm if you want to drop this course.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <a class="btn btn-danger" href="{{url_for('course.remove',course_id=course.id)}}" role="button">Remove Course</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
